<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Smoke Tests">
<test name="TC001_VerifyLoginwithInvalidCredentials">
  <classes>
     <class name="com.test.automation.uiAutomation.LoginPage.TC001_VerifyLoginwithInvalidCredentials"></class>
  </classes>  
</test>
</suite>